* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Merriweather', serif;
  height: 100%;
  width: 100%;
  overflow: hidden; /* no scroll bars */
  background-color: #222;
  color: #ffffff;
  line-height: 1.7;
}

.slider-container {
  height: 100vh;
  display: inline-flex; /*side by side product view */
  overflow: hidden;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
  cursor: grab;
}

.slide {
  max-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column; /* keeps price 7 product title from being smooshed together */
  align-items: center;
  justify-content: center;
  padding: 1rem;
  user-select: none; /*stop highlight/copy effect when user may slide from from diretion */
}

.slide img {
  max-width: 100%;
  max-height: 60%;
  transition: transform 0.3s ease-in-out; /* smooth slide transition */
}

.slide h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.slide h5 {
  font-size: 1.3rem;
}

.btn {
text-decoration: none;
padding: 1rem 1.5rem;
color: #ffffff;
background-color: #5c5554;
}

.btn:hover {
  color: #222;
  background-color: #41b33b
}

.grabbing {
  cursor: grabbing;
}

.grabbing .slide img {
  transform: scale(0.9); /*image will get smaller while grabbed */
}
